---
import type { Song } from 'src/data/songs'
import PlaylistBtn from './UI/PlaylistBtn'

interface Props {
	id: string
	thumbnail: string
	title: string
	color: string
	songs: Song[]
}

const { color, thumbnail, title, id, songs } = Astro.props
---

<a
	class='flex rounded h-[50px] bg-neutral-700/40 overflow-hidden gap-2 group cursor-pointer hover:bg-neutral-500/40 focus:bg-neutral-500/40 transition-all duration-200 backdrop-blur min-w-[200px]'
	id='color-trigger'
	data-color={color}
	href={`playlist/${id}`}
	role='button'
>
	<img
		src={thumbnail}
		alt=''
		class='w-[50px] h-[50px] aspect-square'
		transition:name={`playlist-cover-${title}`}
	/>
	<div class='flex-1 flex items-center'>
		<p
			class='text-white font-medium text-sm flex-1'
			transition:name={`playlist-${title}`}
		>
			{title}
		</p>

		<PlaylistBtn
			client:visible
			songs={songs}
			id={id}
			wrapperClasses='opacity-0 group-hover:opacity-100 mr-1 transition-all duration-500'
		/>
	</div>
</a>
